*{
    background-color: #ffefd7;
}

nav{
    text-align: justify;
}

.menuhorizontal ul{
    list-style-type: none;
    margin: 0;
    padding: 200px;
    overflow: hidden;
    background-color: #ffefd7;
}

.menuhorizontal li{
    display: inline;
    font-family: 'Anaktoria';
    font-size: 50px;
    word-spacing: 3px;
    color: #835e4f;
}

.menuhorizontal li a{
    display: inline;
    color: #835e4f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menuhorizontal li a:hover{
    background-color: #483213;
}

.logo img{
    display: grid;
    float: left;
    width: 22%;
    padding-left: 120px;
}

section#corpo{
    display: block;
    width: fit-content;
}

.article1 h1{
    font-family: 'Anaktoria';
    text-align: center;
    font-size: 30px;
    color: #835e4f;
    text-transform: uppercase;
}

.article1 h2{
    font-family: 'Montserrat';
    font-size: 30px;
    text-align: center;
}

.article1 p{
    font-family: 'Montserrat';
    font-size: 20px;
    color: #483213;
    font-weight: normal;
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
}

.article1 img{
    display: flex;
    float: left;
    width: 20%;
    margin-left: 180px;
    margin-right: 25px;
    border: 2px solid #483213;
    box-shadow: 10px 10px 5px #835e4f;
}

.article2 h1{
    font-family: 'Anaktoria';
    text-align: center;
    font-size: 30px;
    color: #835e4f;
    text-transform: uppercase;
}

.article2 h2{
    font-family: 'Montserrat';
    font-size: 30px;
    text-align: center;
    color: #483213;
}

.article2 p{
    font-family: 'Montserrat';
    font-size: 20px;
    color: #483213;
    font-weight: normal;
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
}

.article2 img{
    display: block;
    float: right;
    width: 20%;
    margin-right: 180px;
    margin-bottom: 50px;
    margin-left: 25px;
    border: 2px solid #483213;
    box-shadow: 10px 10px 5px #835e4f;
}

footer#rodape{
    clear: both;
    position: relative;
    font-family: 'Anaktoria';
    font-size: 20px;
    text-align: center;
    color: #483213;
    width: 100%;
    padding: 10px;
    bottom: 0;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #483213;
}

